.quote{
    margin-left: 60px;
    font-style: italic;
}

#square{
    border: 3px solid limegreen;
    padding: 10px;
    background-image: url("../images/fundo.png");
}

img[src$=".jpg"]{
    display: block;
    margin: 0 auto;   
    width: 300px;
    border: 8px solid limegreen;
}

#marcado{
    background-color: yellow;
}